<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496910521368-qesp0v0k7tg97arfu8g6gd0424boonnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496910521368-qesp0v0k7tg97arfu8g6gd0424boonnq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>496910521368-03v45jm1hcr093m2hb0cevrl4et2ckba.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBe6q8LUQRSbgXhv9rWywGcLRa1KezK4nY</string>
	<key>GCM_SENDER_ID</key>
	<string>496910521368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.llastmile.firebasetesting</string>
	<key>PROJECT_ID</key>
	<string>firebase-testing-1vpyi2</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-testing-1vpyi2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496910521368:ios:5f47f75ac283a2e6595f6d</string>
</dict>
</plist>