<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631022272098-m0t6pm05uvv96adkn1ai4odvvljklh63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631022272098-m0t6pm05uvv96adkn1ai4odvvljklh63</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>631022272098-4pisrbv2e8lh50fv8hsca8grq30sr1mb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVC121A9LsN80mJCNPVOnpe7Myn9HkptE</string>
	<key>GCM_SENDER_ID</key>
	<string>631022272098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.llastmile.testfirebaseflutterflow</string>
	<key>PROJECT_ID</key>
	<string>poc-firebase-5</string>
	<key>STORAGE_BUCKET</key>
	<string>poc-firebase-5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631022272098:ios:431da62b12122ac5ba5b3b</string>
</dict>
</plist>